/* FONT SIZE */
$fs-xl: 1.75rem;
$fs-l: 1.15rem;
$fs-md: 0.9rem;
$fs-s: 0.75rem;
$fs-xs: 0.5rem;

/* GAPS */
$g-l: 1rem;
$g-md: 0.5rem;
$g-s: 0.35rem;
$g-xs: 0.25rem;

/* COLORS */
$primary: #ecebe9;
$secondary: #393e41;
$accent: #ffffff;
