---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="main.scss" />
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="cv-page">
			<header class="heading">
				<div class="name-title-container">
					<h1>John Doe</h1>
					<h2>Job Position</h2>
				</div>
			</header>
			<aside class="short-info">Short details</aside>
			<article class="details">Details</article>
			<footer class="agreement">
				<p>
					I agree to the processing of personal data provided in this document
					for realising the recruitment process pursuant to the Personal Data
					Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000) and in
					agreement with Regulation (EU) 2016/679 of the European Parliament and
					of the Council of 27 April 2016 on the protection of natural persons
					with regard to the processing of personal data and on the free
					movement of such data, and repealing Directive 95/46/EC (General Data
					Protection Regulation).
				</p>
			</footer>
		</div>
	</body>
</html>

<style lang="scss">
	.cv-page {
		width: 210mm;
		height: 297mm;
		display: grid;
		grid-template-areas:
			"heading heading"
			"short-info details"
			"footer footer";
		grid-template-rows: 135px 1fr;
		grid-template-columns: 300px 1fr;
		column-gap: 1rem;
		background-color: #ecebe9;

		& > .heading {
			grid-area: heading;
			background-color: #393e41;
		}

		& > .short-info {
			grid-area: short-info;
		}

		& > .details {
			grid-area: details;
		}

		& > .agreement {
			grid-area: footer;
		}
	}
</style>
