---
import "../styles/main.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://api.fonts.coollabs.io/css2?family=Manrope:wght@400;500&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="cv-page">
			<header class="heading">
				<div class="name-title-container">
					<h1>John Doe</h1>
					<h2>Job Position</h2>
				</div>
			</header>
			<aside class="short-info">
				<div class="contact-container">
					<h2>Contact</h2>
					<a href="tel:+1234567890">Number: 01234567890</a>
					<a href="mailto:mail@example.com">Email: mail@example.com</a>
					<a href="https://github.com/github"
						>Github: https://github.com/github</a
					>
					<a href="https://linkedin.com/in/linkedin-link"
						>Linkedin: https://linkedin.com/in/linkedin-link</a
					>
				</div>
				<div class="about-me-container">
					<h2>About me</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
						numquam velit delectus fugiat! Pariatur ab natus aliquid fugiat
						sequi quam earum sed iste. Dolore commodi tempore quo fugiat optio
						suscipit.
					</p>
				</div>
				<div class="skills-container">
					<h2>Skills</h2>
					<div class="skill-icons">
						<span>Skill</span>
						<span>Skill</span>
						<span>Skill</span>
						<span>Skill</span>
						<span>Skill</span>
						<span>Skill</span>
						<span>Skill</span>
						<span>Skill</span>
					</div>
				</div>
				<div class="language-container">
					<h2>Languages</h2>
					<p>Language 1: Level</p>
					<p>Language 2: Level</p>
				</div>
			</aside>
			<article class="details">Details</article>
			<footer class="agreement">
				<p>
					I agree to the processing of personal data provided in this document
					for realising the recruitment process pursuant to the Personal Data
					Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000) and in
					agreement with Regulation (EU) 2016/679 of the European Parliament and
					of the Council of 27 April 2016 on the protection of natural persons
					with regard to the processing of personal data and on the free
					movement of such data, and repealing Directive 95/46/EC (General Data
					Protection Regulation).
				</p>
			</footer>
		</div>
	</body>
</html>

<style lang="scss">
	@import "../styles/variables.scss";
	.cv-page {
		width: 210mm;
		height: 297mm;
		display: grid;
		grid-template-areas:
			"heading heading"
			"short-info details"
			"footer footer";
		grid-template-rows: 135px 1fr;
		grid-template-columns: 300px 1fr;
		column-gap: $g-l;
		background-color: $primary;

		& > .heading {
			grid-area: heading;
			background-color: $secondary;

			& > .name-title-container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: $g-md;
				padding: $g-l;

				& > h1,
				h2 {
					color: $accent;
				}
			}
		}

		& > .short-info {
			grid-area: short-info;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: $g-l;

			& h2,
			p,
			a {
				text-align: center;
			}

			& > .contact-container {
				display: flex;
				flex-direction: column;
			}

			& .skill-icons {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				row-gap: $g-md;
				column-gap: $g-md;
			}
		}

		& > .details {
			grid-area: details;
		}

		& > .agreement {
			grid-area: footer;
		}
	}
</style>
